/* Page-specific styling */

body{
    margin:0;
    padding: 0;
    background-color: #ddd;
}

h3{
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
}

td{
    vertical-align: top;
}

button{
    width: 100%;
    height: 25px;
    overflow: hidden;
    margin-top:15px;
    padding: 0px; 
}

.ms-Button-label, .ms-Button-icon, .ms-Icon {
    color: #006B77;
}


button:hover .ms-Button-label, button:hover .ms-Button-icon, button:hover ms-Icon:hover {
    color: #00B0C3 !important;
}

#content-main{
    top: 58px;
    background-color: white;
}

.ggi-bgColor-themeDark {
    box-sizing: border-box;
    background-color: #253D4A;
    width: 100%;
    margin: 0!important;
}

.ggi-tab-holder {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: #ddd;
    border-bottom: 1px #888 solid;
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
}
.ggi-tab {
    background-color: #eee;
    border: 1px #888 solid;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 8px;
}

.ggi-tab:hover {
    background-color: #fff;
    cursor: pointer;
}

.ggi-tab.active {
    background-color: #fff;
    position: relative;
    bottom: -1px;
    border-bottom: 1px #fff solid;
    z-index: 2;
}

.display-none{
    display: none;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    width: 100%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-top: 0;
    font-size: 1em;
    height: 2em;
    border: solid 2px #006B77;
    border-radius: 3px;
    cursor: ns-resize;
    overflow: hidden;
    background: #C5DADC;
    position: relative;
}
#sortable li:hover {
    border-color: #00B0C3;
    background: #D0E7E9;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.delete-parent{
    position: absolute;
    right: 5px;
    top: -5px;
    font-weight: bold;
    color: red!important;
    font-size: 1.4em;
    cursor: pointer;
    z-index: 100;
}